<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- No se usan appSettings ya que hay que usar gamParametros -->
    <add key="DXEnableHtmlCompression" value="False" />
    <add key="DXEnableCallbackCompression" value="True" />
    <add key="DXEnableResourceCompression" value="True" />
    <add key="DXEnableResourceMerging" value="False" />
  </appSettings>
  <connectionStrings>   
    <add name="ProduccionCOPITISE" connectionString="Data Source=GESCOL;Initial Catalog=GesColCOPITISE;Persist Security Info=True;User ID=usuarioweb;Password=Co2023Pitise" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization fileEncoding="UTF-8" responseEncoding="UTF-8" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
    <!-- 
            Establezca debug="true" en la compilacion para insertar simbolos 
            de depuracion n la pagina compilada. Dado que este proceso 
            afecta al rendimiento, debe establecer este valor como true 
            durante la depuracion.

            Opciones de Visual Basic:
            Establezca strict="true" para no permitir las conversiones de todos los tipos de datos 
            donde se pueda producir una perdida de datos. 
            Establezca explicit="true" para forzar la declaracon de todas las variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxTreeList.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v15.2.Web, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraCharts.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Charts.v15.2.Core, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraPrinting.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraEditors.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.ASPxThemes.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.SpellChecker.v15.2.Core, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
	<add assembly="DevExpress.Printing.v15.2.Core, Version=15.2.14.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <pages theme="SkinFile" renderAllHiddenFieldsAtTopOfForm="true" clientIDMode="AutoID">
      <namespaces autoImportVBNamespace="false">
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
      <controls>
      </controls>
      <tagMapping>
         <add tagType="System.Web.UI.WebControls.Button" mappedTagType="ATTESTNETWAI.AttestControls.AttestButton" />
	 <add tagType="System.Web.UI.WebControls.GridView" mappedTagType="ATTESTNETWAI.AttestControls.AttestGridView" />
      </tagMapping>
    </pages>
    <!--
            La seccion <authentication> habilita la configuracion
            del modo de autenticacion de seguridad utilizado por 
            ASP.NET para identificar a un usuario entrante. 
        -->
    <authentication mode="Forms">
      <forms name="Login" loginUrl="/default.aspx" />      
    </authentication>
    <xhtmlConformance mode="Strict" />
    <!--
            La seccion <customErrors> habilita la configuracion de 
            las acciones que se deben realizar si un error no controlado tiene lugar
            durante la ejecucion de una solicitud. Especificamente, 
            permite a los desarrolladores configurar paginas de error html 
            que se mostraran en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
    -->
    <!--<customErrors mode="Off" />-->
    <customErrors mode="On" defaultRedirect="/404.aspx" />
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
        <sessionState timeout="120" />
  </system.web>
  <system.codedom>
    <compilers>
    </compilers> 
  </system.codedom>
  <!-- 
        La seccion system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la version anterior de IIS.
    -->
  <system.webServer>
<!--URL REWRITE-->
    <rewrite>
      <providers>
        <provider name="DbNuevaURL" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
          <settings>
            <add key="ConnectionString" value="Data Source=GESCOL;Initial Catalog=GesColCOPITISE;Persist Security Info=True;User ID=usuarioweb;Password=Co2023Pitise" />
            <add key="CacheMinutesInterval" value="1" />
            <add key="StoredProcedure" value="sp_URLRewrite_NuevaURL" />
          </settings>
        </provider>
        <provider name="DbViejaURL" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
          <settings>
            <add key="ConnectionString" value="Data Source=GESCOL;Initial Catalog=GesColCOPITISE;Persist Security Info=True;User ID=usuarioweb;Password=Co2023Pitise" />
            <add key="CacheMinutesInterval" value="1" />
            <add key="StoredProcedure" value="sp_URLRewrite_ViejaURL" />
          </settings>
        </provider>
        <provider name="DbOutboundRule" type="DbProvider, Microsoft.Web.Iis.Rewrite.Providers, Version=7.1.761.0, Culture=neutral, PublicKeyToken=0545b0627da60a5f">
          <settings>
            <add key="ConnectionString" value="Data Source=GESCOL;Initial Catalog=GesColCOPITISE;Persist Security Info=True;User ID=usuarioweb;Password=Co2018Pitise" />
            <add key="CacheMinutesInterval" value="1" />
            <add key="StoredProcedure" value="sp_URLRewrite_OutboundRule" />
          </settings>
        </provider>
      </providers>
      <rules>
        <!--<rule name="dbRedirectQuery" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{DbNuevaURL:{HTTP_HOST}{R:1}?{QUERY_STRING}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" logRewrittenUrl="false" redirectType="Found" />
        </rule>
        <rule name="dbRedirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{DbNuevaURL:{HTTP_HOST}{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="true" logRewrittenUrl="false" redirectType="Found" />
        </rule>
        <rule name="dbRewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{DbViejaURL:{HTTP_HOST}{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" />
        </rule>-->
        <rule name="dbRedirectQuery" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{DbNuevaURL:{HTTP_HOST};{R:1}?{QUERY_STRING}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" logRewrittenUrl="false" redirectType="Found" />
        </rule>
        <rule name="dbRedirect" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{DbNuevaURL:{HTTP_HOST};{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="true" logRewrittenUrl="false" redirectType="Found" />
        </rule>
        <rule name="dbRewrite" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{DbViejaURL:{HTTP_HOST};{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="{C:1}" />
        </rule>
      </rules>
    <!-- <outboundRules rewriteBeforeCache="true">
        <rule name="dbOutbound" preCondition="IsHTML" >
          <match filterByTags="A" pattern="(.*)" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{DbOutboundRule:{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" value="{C:1}" />
        </rule>
        <preConditions>
          <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>-->
    </rewrite>
   <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <!--<validation validateIntegratedModeConfiguration="false" />-->
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" name="ASPxUploadProgressHttpHandler" path="ASPxUploadProgressHandlerPage.ashx" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v15.2, Version=15.2.14.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
        </httpErrors>
  </system.webServer>
  <runtime>
  </runtime>
</configuration>